## LIST

###  Creating List

In [12]:
#create list with list Function to convert other objets into List
myset={1,2,3,4}
mylist1=list(myset)
print(mylist1)

[1, 2, 3, 4]

In [19]:
#create a list with list function using range of values
mylist=list(range(1,20,2))
print(mylist)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [71]:
#create list from string split function
mystring = input("enter a string:")
mylist=mystring.split(',')
print(mylist)

enter a string:my name is, Arnab Bhowmik, and I am very Alone
['my name is', ' Arnab Bhowmik', ' and I am very Alone']

In [30]:
#create list from string 
mystring = input("enter a Srting:")
mylist=list(mystring)
print(mylist)

enter a Srting:my name is, Arnab Bhowwmik, and I am very Alone
['m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ',', ' ', 'A', 'r', 'n', 'a', 'b', ' ', 'B', 'h', 'o', 'w', 'w', 'm', 'i', 'k', ',', ' ', 'a', 'n', 'd', ' ', 'I', ' ', 'a', 'm', ' ', 'v', 'e', 'r', 'y', ' ', 'A', 'l', 'o', 'n', 'e']

# DO NOT RUN NOW

In [ ]:
#CREATE A BLANK mylist
mylist = []
print(mylist)

In [78]:
#CREATE A mylist with known elements
mylist = [1,"A",'B',(1,2),{1,42,'A'},[1,2,5]]
print(mylist)
print(type(mylist))

[1, 'A', 'B', (1, 2), {1, 42, 'A'}, [1, 2, 5]]
<class 'list'>

In [ ]:
#CREATE A mylist with dynamic input # as String as eval was not used
mylist = input("enter a mylist:")
print(mylist)
print(type(mylist))

In [ ]:
#CREATE A mylist with dynamic input with Eval
mylist = eval(input("enter a mylist:"))
print(mylist)
print(type(mylist))

## Traversing a list

In [20]:
mylist2=list(range(1,20,2))
print(mylist2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [23]:
for l in mylist2:
    print(l)

1
3
5
7
9
11
13
15
17
19

In [45]:
listlen =len(mylist2)
print(listlen)
l=0
while l < listlen:
    print("value {} present in positive index {} and negative index {}".format(mylist2[l],l,(listlen-l)))
    l= l+1

10
value 1 present in positive index 0 and negative index 10
value 3 present in positive index 1 and negative index 9
value 5 present in positive index 2 and negative index 8
value 7 present in positive index 3 and negative index 7
value 9 present in positive index 4 and negative index 6
value 11 present in positive index 5 and negative index 5
value 13 present in positive index 6 and negative index 4
value 15 present in positive index 7 and negative index 3
value 17 present in positive index 8 and negative index 2
value 19 present in positive index 9 and negative index 1

## Access List using index

In [46]:
print(mylist2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [53]:
print(mylist2[5])
print(mylist2[-2])

11
17

In [50]:
#grab first element
mylist2[0]

1

In [52]:
#grab last element
mylist2[-1]

17

# Slicing of List

In [55]:
print(mylist2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [59]:
print(mylist2[2:5])

[5, 7, 9]

In [64]:
print(mylist2[2:7:3]) # step should be more than 0, default is 1

[5, 11]

In [65]:
print(mylist2[:5])

[1, 3, 5, 7, 9]

In [66]:
print(mylist2[3:])

[7, 9, 11, 13, 15, 17, 19]

In [67]:
print(mylist2[:])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [68]:
print(mylist2[::2])

[1, 5, 9, 13, 17]

## Nested List

In [72]:
print(mylist)

['my name is', ' Arnab Bhowmik', ' and I am very Alone']

In [92]:
mynestedlist=[]
for i in mylist:
    mylist1 = list(i.split())
    mynestedlist.append(mylist1)
    print(mylist1)
    print(mynestedlist)

['my', 'name', 'is']
[['my', 'name', 'is']]
['Arnab', 'Bhowmik']
[['my', 'name', 'is'], ['Arnab', 'Bhowmik']]
['and', 'I', 'am', 'very', 'Alone']
[['my', 'name', 'is'], ['Arnab', 'Bhowmik'], ['and', 'I', 'am', 'very', 'Alone']]

In [93]:
  print(mynestedlist)

[['my', 'name', 'is'], ['Arnab', 'Bhowmik'], ['and', 'I', 'am', 'very', 'Alone']]

In [97]:
mynestedlist[2][-1]

'Alone'

## List Functions

In [138]:
mylist = [1,"A",'A','B',[1,2]]
print(mylist)
print(type(mylist))

[1, 'A', 'A', 'B', [1, 2]]
<class 'list'>

In [139]:
len(mylist)

5

In [140]:
mylist.count('A')

2

In [141]:
mylist.count('2')

0

In [111]:
mylist.count('A')

1

In [113]:
mylist.count([1,2])

1

In [118]:
print(mylist.index('B')) #this returns indexor position of provided element

2

In [142]:
print(mylist)

[1, 'A', 'A', 'B', [1, 2]]

In [143]:
mylist.append(4) # apend will always enter at last

In [144]:
print(mylist)

[1, 'A', 'A', 'B', [1, 2], 4]

In [145]:
mylist.insert(2,4) # using insert function we can sprcify position where we want to insert # always need two argument

In [146]:
print(mylist)

[1, 'A', 4, 'A', 'B', [1, 2], 4]

In [147]:
#duplicate is allowed in List

In [148]:
len(mylist)

7

In [149]:
print(mylist)

[1, 'A', 4, 'A', 'B', [1, 2], 4]

In [150]:
mylist.insert(-1,8)
print(mylist)

[1, 'A', 4, 'A', 'B', [1, 2], 8, 4]

#### If the specified index is greater than max index then element will be inserted at last position. If the specified index is smaller than min index then element will be inserted at first position.

In [151]:
mylist.insert(-20,'X')
print(mylist)

['X', 1, 'A', 4, 'A', 'B', [1, 2], 8, 4]

In [152]:
mylist.insert(20,'Y')
print(mylist)

['X', 1, 'A', 4, 'A', 'B', [1, 2], 8, 4, 'Y']

In [154]:
print(mynestedlist)

[['my', 'name', 'is'], ['Arnab', 'Bhowmik'], ['and', 'I', 'am', 'very', 'Alone']]

In [156]:
mynestedlist.extend(mylist) 
print(mynestedlist)

[['my', 'name', 'is'], ['Arnab', 'Bhowmik'], ['and', 'I', 'am', 'very', 'Alone'], 'X', 1, 'A', 4, 'A', 'B', [1, 2], 8, 4, 'Y', 'X', 1, 'A', 4, 'A', 'B', [1, 2], 8, 4, 'Y']

In [162]:
mynestedlist.extend(99)

TypeError: 'int' object is not iterable

In [165]:
mynestedlist.extend('99')

In [167]:
mynestedlist.extend('W')

In [169]:
mynestedlist.extend('JOLLY')

In [180]:
print(mynestedlist)

[['my', 'name', 'is'], ['Arnab', 'Bhowmik'], ['and', 'I', 'am', 'very', 'Alone'], 'X', 1, 4, 'A', 'B', [1, 2], 8, 4, 'Y', 'X', 1, 'A', 4, 'A', 'B', [1, 2], 8, 4, 'Y', 1, 2, 'Z', '9', '9', 'W', 'O', 'L', 'L']

In [236]:
mylist2.clear()

In [237]:
print(mylist2)

[]

In [238]:
print(id(mylist2))

2809001950208

In [181]:
mynestedlist.remove('A') 
#We need to pass the element we want to remove
#this will remove only the first occurance of given element 
#if element not present then it will give value error

In [182]:
print(mynestedlist)

[['my', 'name', 'is'], ['Arnab', 'Bhowmik'], ['and', 'I', 'am', 'very', 'Alone'], 'X', 1, 4, 'B', [1, 2], 8, 4, 'Y', 'X', 1, 'A', 4, 'A', 'B', [1, 2], 8, 4, 'Y', 1, 2, 'Z', '9', '9', 'W', 'O', 'L', 'L']

In [178]:
mynestedlist.pop()
# this will pop out last element and return the same

'Y'

In [179]:
print(mynestedlist)

[['my', 'name', 'is'], ['Arnab', 'Bhowmik'], ['and', 'I', 'am', 'very', 'Alone'], 'X', 1, 4, 'A', 'B', [1, 2], 8, 4, 'Y', 'X', 1, 'A', 4, 'A', 'B', [1, 2], 8, 4, 'Y', 1, 2, 'Z', '9', '9', 'W', 'O', 'L', 'L']

In [183]:
mynestedlist.pop(10)
# we need to pass index we want the value
# this will pop out element present in given index and return the same

'Y'

In [184]:
print(mynestedlist)

[['my', 'name', 'is'], ['Arnab', 'Bhowmik'], ['and', 'I', 'am', 'very', 'Alone'], 'X', 1, 4, 'B', [1, 2], 8, 4, 'X', 1, 'A', 4, 'A', 'B', [1, 2], 8, 4, 'Y', 1, 2, 'Z', '9', '9', 'W', 'O', 'L', 'L']

In [188]:
mylist = [1,"A",'A','B',23]
print(mylist)
print(type(mylist))

[1, 'A', 'A', 'B', 23]
<class 'list'>

In [190]:
mylist.reverse()

In [191]:
print(mylist)

[23, 'B', 'A', 'A', 1]

In [192]:
mylist.sort()
print(mylist)
#To use sort() function, compulsory list should contain only homogeneous elements. Otherwise we will get TypeError

TypeError: '<' not supported between instances of 'str' and 'int'

In [54]:
mylist_of_num=list(range(1,20,2))
print(mylist_of_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [6]:
sum(mylist_of_num)

100

In [74]:
min(mylist_of_num)

1

In [75]:
max(mylist_of_num)

19

In [195]:
mylist_of_num[4]=100
print(mylist_of_num)

[1, 3, 5, 7, 100, 11, 13, 15, 17, 19]

In [53]:
mylist_of_num.sort()
print(mylist_of_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

using sorted funtion

In [55]:
print(mylist_of_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [59]:
mylist_desc = sorted(mylist_of_num, reverse = True)
print(mylist_desc)
print(mylist_of_num)

[19, 17, 15, 13, 11, 9, 7, 5, 3, 1]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [58]:
mylist_asc = sorted(mylist_of_num)
mylist_asc

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## Aliasing

In [198]:
print(mylist_of_num)

[100, 19, 17, 15, 13, 11, 7, 5, 3, 1]

In [199]:
my_newlist = mylist_of_num

In [200]:
print(mylist_of_num)
print(my_newlist)

[100, 19, 17, 15, 13, 11, 7, 5, 3, 1]
[100, 19, 17, 15, 13, 11, 7, 5, 3, 1]

In [201]:
print(id(mylist_of_num))
print(id(my_newlist))

2809002363584
2809002363584

In [202]:
my_newlist[6] =300

In [203]:
print(mylist_of_num)
print(my_newlist)

[100, 19, 17, 15, 13, 11, 300, 5, 3, 1]
[100, 19, 17, 15, 13, 11, 300, 5, 3, 1]

## Cloning

In [204]:
print(mylist_of_num)

[100, 19, 17, 15, 13, 11, 300, 5, 3, 1]

In [208]:
my_newlist_num1 = mylist_of_num.copy()

In [209]:
print(mylist_of_num)
print(my_newlist_num1)

[100, 19, 17, 15, 13, 11, 300, 5, 3, 1]
[100, 19, 17, 15, 13, 11, 300, 5, 3, 1]

In [210]:
print(id(mylist_of_num))
print(id(my_newlist_num1))

2809002363584
2809001855552

In [213]:
my_newlist_num2 = mylist_of_num[:]

In [214]:
print(mylist_of_num)
print(my_newlist_num1)
print(my_newlist_num2)

[100, 19, 17, 15, 13, 11, 300, 5, 3, 1]
[100, 19, 17, 15, 13, 11, 300, 5, 3, 1]
[100, 19, 17, 15, 13, 11, 300, 5, 3, 1]

In [215]:
print(id(mylist_of_num))
print(id(my_newlist_num1))
print(id(my_newlist_num2))

2809002363584
2809001855552
2809002390080

In [216]:
my_newlist_num1[5]=1000

In [217]:
print(mylist_of_num)
print(my_newlist_num1)
print(my_newlist_num2)

[100, 19, 17, 15, 13, 11, 300, 5, 3, 1]
[100, 19, 17, 15, 13, 1000, 300, 5, 3, 1]
[100, 19, 17, 15, 13, 11, 300, 5, 3, 1]

## List  Logical and Mathematical Operator

In [220]:
print(mylist_of_num == my_newlist_num1)
print(mylist_of_num == my_newlist_num2)

False
True

In [221]:
print(mylist_of_num != my_newlist_num1)
print(mylist_of_num != my_newlist_num2)

True
False

In [224]:
print(mylist_of_num == my_newlist_num2) #checks whether elements are same
print(mylist_of_num is my_newlist_num2) #checks whether objects are same
print(mylist_of_num is my_newlist)

True
False
True

In [223]:
print(id(mylist_of_num))
print(id(my_newlist_num1))
print(id(my_newlist))

2809002363584
2809001855552
2809002363584

In [225]:
print(mylist_of_num)
print(my_newlist_num1)
print(my_newlist_num2)

[100, 19, 17, 15, 13, 11, 300, 5, 3, 1]
[100, 19, 17, 15, 13, 1000, 300, 5, 3, 1]
[100, 19, 17, 15, 13, 11, 300, 5, 3, 1]

In [247]:
#When ever we are using relatational Operators (<, <=, >, >=) between List Objects, only 1ST Element comparison will be performed.
list1 = list(range(1,10,1))
list1[0]=10
list2 = list(range(1,10,2))
list3 = [10]
print(list1)
print(list2)
print(list3)

[10, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10]

In [250]:
print(list1 > list3)
print(list1 < list3)

True
False

In [227]:
a = mylist_of_num + my_newlist_num1 #this will append two list together
print(a)

[100, 19, 17, 15, 13, 11, 300, 5, 3, 1, 100, 19, 17, 15, 13, 1000, 300, 5, 3, 1]

In [230]:
b = mylist_of_num * 10 #this repeats same list for number of time 
print(b)

[100, 19, 17, 15, 13, 11, 300, 5, 3, 1, 100, 19, 17, 15, 13, 11, 300, 5, 3, 1, 100, 19, 17, 15, 13, 11, 300, 5, 3, 1, 100, 19, 17, 15, 13, 11, 300, 5, 3, 1, 100, 19, 17, 15, 13, 11, 300, 5, 3, 1, 100, 19, 17, 15, 13, 11, 300, 5, 3, 1, 100, 19, 17, 15, 13, 11, 300, 5, 3, 1, 100, 19, 17, 15, 13, 11, 300, 5, 3, 1, 100, 19, 17, 15, 13, 11, 300, 5, 3, 1, 100, 19, 17, 15, 13, 11, 300, 5, 3, 1]

In [231]:
print ( 10 in mylist_of_num)

False

In [232]:
print(mynestedlist)

['L', 'L', 'O', 'W', '9', '9', 'Z', 2, 1, 'Y', 4, 8, [1, 2], 'B', 'A', 4, 'A', 1, 'X', 4, 8, [1, 2], 'B', 4, 1, 'X', ['and', 'I', 'am', 'very', 'Alone'], ['Arnab', 'Bhowmik'], ['my', 'name', 'is']]

In [234]:
print ( ['Arnab', 'Bhowmik'] in mynestedlist)

True

# Tuple

In [9]:
#creation of Tuple

In [11]:
my_tuple=()
print(my_tuple)

()

In [81]:
#CREATE A mylist with known elements
my_tuple = (1,"A",'B',(1,2),{1,42,'A'},[1,2,5])
print(my_tuple)
print(type(my_tuple))

(1, 'A', 'B', (1, 2), {1, 42, 'A'}, [1, 2, 5])
<class 'tuple'>

In [13]:
my_tuple = (1,2,2,3,'A','D')
print(my_tuple)

(1, 2, 2, 3, 'A', 'D')

In [14]:
my_tuple = 1,2,2,3,'A','D'
print(my_tuple)

(1, 2, 2, 3, 'A', 'D')

In [17]:
my_tuple = 1
print(type(my_tuple))

<class 'int'>

In [16]:
my_tuple = 1,
print(type(my_tuple))

<class 'tuple'>

In [27]:
my_tuple =tuple(range(1,20,3))
print(my_tuple)

(1, 4, 7, 10, 13, 16, 19)

In [26]:
#CREATE A tuple with dynamic input with Eval
mytuple = eval(input("enter a Tuple:"))
print(mytuple)
print(type(mytuple))

enter a Tuple:('a',1,2,'b',)
('a', 1, 2, 'b')
<class 'tuple'>

In [36]:
#Create Tuple from a list
my_list =list(range(1,20,3))
print(my_list)
my_tuple = tuple(my_list)
print(my_tuple)

[1, 4, 7, 10, 13, 16, 19]
(1, 4, 7, 10, 13, 16, 19)

### Tuple Packing and unpacking

In [19]:
def math(a,b):
    sum_r = a+b
    minus_r = a-b
    multiply_r = a*b
    divide_r = a/b
    return sum_r,minus_r,multiply_r,divide_r

In [20]:
w,x,y,z = math(10,20)
print('Sum is {}, minus is {}, multiplication is {}, divide is {}'.format(w,x,y,z))

Sum is 30, minus is -10, multiplication is 200, divide is 0.5

In [21]:
w

30

### Traversing element from Tuple

In [28]:
my_tuple

(1, 4, 7, 10, 13, 16, 19)

In [31]:
tuple_len =len(my_tuple)
print(my_tuple)
l=0
while l < tuple_len:
    print("value {} present in positive index {} and negative index {}".format(my_tuple[l],l,(tuple_len-l)))
    l= l+1

(1, 4, 7, 10, 13, 16, 19)
value 1 present in positive index 0 and negative index 7
value 4 present in positive index 1 and negative index 6
value 7 present in positive index 2 and negative index 5
value 10 present in positive index 3 and negative index 4
value 13 present in positive index 4 and negative index 3
value 16 present in positive index 5 and negative index 2
value 19 present in positive index 6 and negative index 1

In [32]:
for t in my_tuple:
    print(t)

1
4
7
10
13
16
19

### Accessing and slicing element from Tuple

In [33]:
my_tuple

(1, 4, 7, 10, 13, 16, 19)

In [38]:
my_tuple[1]

4

In [39]:
my_tuple[-1]

19

In [46]:
my_tuple[2:5]

(7, 10, 13)

In [44]:
len(my_tuple)

7

In [47]:
my_tuple[10]

IndexError: tuple index out of range

In [48]:
my_tuple[1:10]

(4, 7, 10, 13, 16, 19)

### Sorting a Tuple

In [60]:
my_tuple

(1, 4, 7, 10, 13, 16, 19)

In [61]:
#we can apply sort on Tuple but return type is List
mytuple_desc = sorted(my_tuple, reverse = True)
print(mytuple_desc)
print(my_tuple)

[19, 16, 13, 10, 7, 4, 1]
(1, 4, 7, 10, 13, 16, 19)

### Logical Operator in Tuple

In [64]:
t1=(10,20,30)  
t2=(40,50,60)
t3=(10,20,30)
t4=(4,10,20,30)

In [69]:
print(t1==t2) 
print(t1 >= t3)
print(t2 > t3)
print(t1 != t4)

False
True
True
True

### Math Operator

In [70]:
print(my_tuple)

(1, 4, 7, 10, 13, 16, 19)

In [71]:
sum(my_tuple)

70

In [72]:
min(my_tuple)

1

In [73]:
max(my_tuple)

19

### Edit Value of List element in a Tuple

In [82]:
my_editable_tuple = eval(input("enter a Tuple:"))
print(my_editable_tuple)
print(type(my_editable_tuple))

enter a Tuple:(1, 'A', 'B', (1, 2), {1, 42, 'A'}, [1, 2, 5])
(1, 'A', 'B', (1, 2), {1, 42, 'A'}, [1, 2, 5])
<class 'tuple'>

In [83]:
my_editable_tuple

(1, 'A', 'B', (1, 2), {1, 42, 'A'}, [1, 2, 5])

In [84]:
my_editable_tuple[5]

[1, 2, 5]

In [85]:
my_editable_tuple[5][1]

2

In [86]:
my_editable_tuple[5][1] =6

In [87]:
my_editable_tuple

(1, 'A', 'B', (1, 2), {1, 42, 'A'}, [1, 6, 5])

In [91]:
print(my_editable_tuple[4])

{1, 42, 'A'}

# Set

### Create a set

In [92]:
# can't create blank set with {}
my_set={}
print(my_set)
print(type(my_set))

{}
<class 'dict'>

In [93]:
my_set=set()
print(my_set)
print(type(my_set))

set()
<class 'set'>

In [99]:
myset = eval(input("enter a Set:"))
print(myset)
print(type(myset))

enter a Set:{1, 'A', 'B', (1, 2),[1, 2, 5]}

TypeError: unhashable type: 'list'

In [94]:
my_set = eval(input("enter a Set:"))
print(my_set)
print(type(my_set))

enter a Set:{1, 'A', 'B', (1, 2), {1, 42, 'A'}, [1, 2, 5]}

TypeError: unhashable type: 'set'

In [101]:
myset = eval(input("enter a Set:"))
print(myset)
print(type(myset))

enter a Set:{1,'A','B',(1,2,3)}
{1, (1, 2, 3), 'B', 'A'}
<class 'set'>

In [169]:
my_set = {40, 10, 20, 30}
print(my_set)
print(type(my_set))

{40, 10, 20, 30}
<class 'set'>

In [170]:
my_list = list(range(1,20,4))
my_list

[1, 5, 9, 13, 17]

In [171]:
my_tuple = tuple(range(1,20,3))
my_tuple

(1, 4, 7, 10, 13, 16, 19)

In [172]:
my_set1=set(my_list)
print(my_list)
print(my_set1)
my_set2=set(my_tuple)
print(my_tuple)
print(my_set2)

[1, 5, 9, 13, 17]
{1, 5, 9, 13, 17}
(1, 4, 7, 10, 13, 16, 19)
{1, 4, 7, 10, 13, 16, 19}

In [148]:
hash(my_set1)

TypeError: unhashable type: 'set'

In [149]:
hash(my_list)

TypeError: unhashable type: 'list'

In [150]:
hash(my_tuple)

251364653479942311

### Modify a Set

In [151]:
print(myset)
print(my_list)
print(my_tuple)

{40, 10, 20, 30}
[1, 5, 9, 13, 17]
(1, 4, 7, 10, 13, 16, 19)

In [152]:
myset.add(100) #adds single element
print(myset)

{100, 40, 10, 20, 30}

In [153]:
myset.add(1,2)
print(myset)

TypeError: add() takes exactly one argument (2 given)

In [154]:
print(my_list)
print(my_tuple)

[1, 5, 9, 13, 17]
(1, 4, 7, 10, 13, 16, 19)

In [155]:
myset.add((1,2))
print(myset)

{(1, 2), 100, 40, 10, 20, 30}

In [156]:
myset.update(my_list,my_tuple,range(100,500,100)) #add multiple element together but element needs to be iterable object
print(myset) # Set does not allow duplicate

{1, (1, 2), 100, 5, 4, 7, 40, 9, 10, 200, 300, 13, 16, 17, 400, 19, 20, 30}

In [157]:
print(my_list)
print(myset)

[1, 5, 9, 13, 17]
{1, (1, 2), 100, 5, 4, 7, 40, 9, 10, 200, 300, 13, 16, 17, 400, 19, 20, 30}

In [161]:
print(myset.pop()) #returns any element which was popped out
print(my_list.pop()) #always returns last element which was popped out

print(my_list)
print(myset)

(1, 2)
17
[1, 5, 9, 13]
{100, 5, 4, 7, 40, 9, 10, 200, 300, 13, 16, 17, 400, 19, 20, 30}

In [162]:
print(my_list.pop(2)) # when we want to pop from a list, we can specify the index for which we want value
print(my_list)

9
[1, 5, 13]

In [143]:
my_set.pop(100) #set does not allow to pop specified element

TypeError: pop() takes no arguments (1 given)

In [163]:
print(myset.remove(100))
print(myset)

None
{5, 4, 7, 40, 9, 10, 200, 300, 13, 16, 17, 400, 19, 20, 30}

In [164]:
print(myset.remove(500))

KeyError: 500

In [165]:
if 500 in myset:
    print(myset.remove(500))

In [166]:
print(myset)

{5, 4, 7, 40, 9, 10, 200, 300, 13, 16, 17, 400, 19, 20, 30}

In [167]:
print(myset.discard(500))

None

In [168]:
print(myset.discard(400))
print(myset)

None
{5, 4, 7, 40, 9, 10, 200, 300, 13, 16, 17, 19, 20, 30}

### Union, Intersection

In [173]:
print(myset)
print(my_list)
print(my_tuple)
print(my_set1)
print(my_set2)

{5, 4, 7, 40, 9, 10, 200, 300, 13, 16, 17, 19, 20, 30}
[1, 5, 9, 13, 17]
(1, 4, 7, 10, 13, 16, 19)
{1, 5, 9, 13, 17}
{1, 4, 7, 10, 13, 16, 19}

In [175]:
my_union_set = (my_set1.union(my_set2)) #(my_set1 | my_set2)
print(my_set1)
print(my_set2)
print(my_union_set)

{1, 5, 9, 13, 17}
{1, 4, 7, 10, 13, 16, 19}
{1, 4, 5, 7, 9, 10, 13, 16, 17, 19}

In [178]:
my_intersection_set = (my_set1.intersection(my_set2)) #(my_set1 & my_set2)
print(my_set1)
print(my_set2)
print(my_intersection_set)

{1, 5, 9, 13, 17}
{1, 4, 7, 10, 13, 16, 19}
{1, 13}

In [179]:
my_difference_set = (my_set1.difference(my_set2)) #(my_set1 - my_set2)
print(my_set1)
print(my_set2)
print(my_difference_set)

{1, 5, 9, 13, 17}
{1, 4, 7, 10, 13, 16, 19}
{9, 5, 17}

In [180]:
my_difference_set_2 = (my_set2.difference(my_set1)) #(my_set2 - my_set1)
print(my_set1)
print(my_set2)
print(my_difference_set_2)

{1, 5, 9, 13, 17}
{1, 4, 7, 10, 13, 16, 19}
{4, 7, 10, 16, 19}

In [181]:
my_symmetric_difference_set = (my_set1.symmetric_difference(my_set2)) #(my_set1 ^ my_set2)
print(my_set1)
print(my_set2)
print(my_symmetric_difference_set)

{1, 5, 9, 13, 17}
{1, 4, 7, 10, 13, 16, 19}
{4, 5, 7, 9, 10, 16, 17, 19}

### Membership Operators: (in, not in)

In [186]:
#String Object
for x in 'jolly':
    print(x)

j
o
l
l
y

In [182]:
s=set("durga")

In [183]:
print(s)
print('d' in s)
print('z' in s)

{'a', 'u', 'd', 'g', 'r'}
True
False

In [189]:
print(s)
print('d' not in s)
print('z' not in s)

{'a', 'u', 'd', 'g', 'r'}
False
True